[submodule "api"]
	path = api
	url = https://github.com/modernbabyonline/api
[submodule "app"]
	path = app
	url = https://github.com/modernbabyonline/app
[submodule "site"]
	path = site
	url = https://github.com/modernbabyonline/site
